// header {
//     width: 600px;
//     display: flex;
//     margin: 0 auto;
// }

// header > div:nth-child(3) {
//     margin-left: auto;
// }

header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 25px 100%;
}

router-outlet {
    grid-row: 1 / 2;
}

header > div:nth-child(3) {
    grid-column: 10;
    grid-row: 2;
}