<form [formGroup]="profileForm">
    <div>
      <label>
        身分證字號:
        <input type="text" formControlName="id"
          appFieldValidator
          [patternKey]="'ID'"
        >
      </label>
      <label>
        金額:
        <input type="text" formControlName="currency"
          appFieldValidator
          [patternKey]="'CURRENCY'"
        >
      </label>
      <label>
        金額與currencyMask:
        <input type="text" formControlName="currencyWithMask"
          appFieldValidator
          [patternKey]="'CURRENCY_MASK'"
          [maxLength]="5"
          currencyMask
          [options]="{ thousands: ',', prefix: '',  precision: 2}"
        >
      </label>
      <label>
        純數字:
        <input type="text" formControlName="purenum"
          appFieldValidator
          [patternKey]="'PURE_NUM'"
        >
      </label>
      <label>
        純英文:
        <input type="text" formControlName="letter"
          appFieldValidator
          [patternKey]="'LETTER'"
        >
      </label>
      <label>
        基本欄位:
        <input type="text" formControlName="text"
          appFieldValidator
          [patternKey]="'TEXT'"
        >
      </label>
      <label>
        中英文,數字:
        <input type="text" formControlName="chineseLetterNum"
          appFieldValidator
          [patternKey]="'CHINESS_LETTER_NUM'"
        >
      </label>
      <label>
        中文姓名:
        <input type="text" formControlName="chineseName"
          appFieldValidator
          [patternKey]="'CHINESE'"
          [maxLength]="50"
        >
      </label>
      <label>
          中英文姓名:
        <input type="text" formControlName="chineseAndEnglish"
          appFieldValidator
          [patternKey]="'CHINESE_AND_LETTER'"
        >
      </label>
      <label>
        Email:
        <input type="text" formControlName="email"
          appFieldValidator
          [patternKey]="'EMAIL'"
        >
      </label>
      <label>
        密碼:
        <input type="text" formControlName="password"
          appFieldValidator
          [patternKey]="'PASSWORD'"
        >
      </label>
      <label>
        自定義身分證長度:
        <input type="text" formControlName="selfDefId"
          appFieldValidator
          [patternKey]="'ID'"
          [maxLength]="12"
          [minlength]="1"
        >
      </label>
      <label>
        信用卡卡號:
        <input type="text" formControlName="creditCard"
          appFieldValidator
          [patternKey]="'PURE_NUM'"
          [maxLength]="16"
          [minLength]="16"
        >
      </label>
      <label>
        使用者代號:
        <input type="text" formControlName="account"
          appFieldValidator
          [patternKey]="'LETTER_AND_NUM'"
          [minLength]="6"
          [maxLength]="16"
        >
      </label>
    
    </div>
    </form>
    